
.card {
  border: solid 1px; 
  border-color: darkgray; 
  box-shadow: 0 0 8px gray; 
  margin: 15px 10px; 
  width: 300px;
  height: 410px;
  position: relative;
}

.card_category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0;
  width: 120px;
  background-color: gold; 
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.title {
  margin-top: 10px; 
  margin-bottom: 10px;
  font-size: 15px;
}

.description { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
}

@media screen and (max-width: 696px){
  .card {
    width: 150px;
    height: 205px;
  }
  .card_category {
    width: 75px;
    font-size: 5px;
  }
  .title {
    font-size: 10px;
  }
  .calender {
    font-size: 8px;
  }
  .tag {
    display: none;
  }
  .description {
    display: none;
  }
}