
.card {
  border: solid 1px; 
  border-color: darkgray; 
  box-shadow: 0 0 8px gray; 
  margin: 15px 10px; 
  width: 300px;
  height: 410px;
  position: relative;
}

.card_category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0;
  width: 120px;
  background-color: gold; 
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-weight: bold;
}
.card_category:hover {
  background-color: #000000;
  color: #ffffff;
}

.title {
  margin-top: 10px; 
  margin-bottom: 10px;
  font-size: 15px;
}

.tags-tag {
  display: inline;
  flex-wrap: wrap;
  margin-right: 10px; 
  padding: 5px 7px; 
  text-decoration: none; 
  font-size: 12px;
  color: white;
  background-color: lightpink;
}
.tags-tag:hover {
  background-color: black;
  color: white;
}

.description { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
}