
#category {
  background-color: #dcdcdc;
  margin-bottom: 0px;
  padding: 15px; 
  text-align: center;
}

#category div {
  display: inline-block;
  margin: 0 15px;
  padding: 5px 13px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}

#category div:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 480px){
  #category div {
    display: block;
  }
}