
#category {
  background-color: #dcdcdc;
  margin-bottom: 0px;
  padding: 15px; 
  text-align: center;
}

#category span {
  margin: 0 15px;
  padding: 7px 13px;
  font-size: 15px;
  font-weight: bold;
}

#category span:hover {
  background-color: #000000;
  color: #ffffff;
}