
#work {
  margin-top: 20px;
  text-align:center;
}
#title {
  position: relative;
  margin-bottom: 45px;
  font-size: 20px;
}
#title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}
#case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#case div {
  width: 220px;
  height: 200px;
  margin: 10px;
  border: solid 1px;
  border-radius: 3px;
}