
#taslist {
  background-color: #c0c0c0;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
}

.taglist-tag {
  display: inline-block;
  margin: 5px;
  padding: 2px 0 2px 6px;
  color: white;
  background-color: lightpink;
  font-size: 14px;

  box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.taglist-tag:hover {
  background-color: #000000;
  color: #ffffff;
}